html {
    height: 1440 px;
    width: 2048 p;
    background-color: #000000;
    color: #ffffff;
  }
  
  header {
    text-align: center;
    justify-content: space-around;
    padding: 20px 0;
  }
  
  .m {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }  

